{% extends 'base.html.twig' %}

{% block title %}Hello NodeController!{% endblock %}

{% block body %}
    <div class="container">
        <div class="mt-5">
            <h1>Symfony jQuery treeTable</h1>
            <table id="tree" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Modified Date</th>
                </tr>
                </thead>
                <tbody>
                {% include 'node/nodes.html.twig' %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
