{% for node in nodes %}
    <tr data-tt-id="{{ node.id }}"
        data-tt-parent-id="{{ node.child ? node.parent.id }}"
        data-tt-branch="{{ node.directory ? 'true' : 'false' }}"
        data-child-url="{{ path('app_node_children') }}"
        data-csrf="{{ csrf_token('n'~node.id) }}">
        <td>{{ node.name }}</td>
        <td>{{ node.modifiedAt|date('D, d M Y H:i:s') }}</td>
    </tr>
{% else %}
    <tr data-tt-id="{{ random() }}"
        data-tt-parent-id="{{ parentId }}"
        data-tt-branch="false">
        <td colspan="2">- empty -</td>
    </tr>
{% endfor %}
